{{#if loggedIn}}
  <section class="card">
      <header>
        <h2>{{title}}</h2>
        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
      </header>
      <div>
        <p>
          {{content}}
        </p>
      </div>
  </section>

{{else}}
  <section class="card">
    <a href="/post/{{id}}">
      <header>
        <h2>{{title}}</h2>
        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
      </header>
      <div>
        <p>
          {{content}}
        </p>
      </div>
    </a>
  </section>
{{/if}}