<section class="card">
    <a href="/post/{{id}}">
      <header class="title">
        <h2>{{title}}</h2>
        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
      </header>
      <div>
        <p>
          {{content}}
        </p>
      </div>
    </a>
  </section>